@import "_clash";
@import "_timeline";
@import "_cards";

main {
    overflow: hidden;
}

.img-frontend {
    width: 100vw;
    height: 40vh;
    background-image: url("/assets/img/info-sci/frontend-sci.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-breakpoint-up(lg) {
        height: 55vh;
        background-position: center -35vh;
    }

    &.sci {
        background-image: url("/assets/img/info-sci/frontend-sci.png");
    }

    &.sport {
        background-image: url("/assets/img/sport-info/frontend-sport.jpeg");
    }

    &.portami {
        background-image: url("/assets/img/portami-info/frontend-portami.jpeg");
        background-position-y: initial;
    }

    &.loudpolaroid {
        height: 50vh;
        background-image: url("/assets/img/loudpolaroid/LP_banner_wide_1080.png");

        @include media-breakpoint-down(sm) {
            height: 48vh;
            background-image: url("/assets/img/loudpolaroid/LP_banner_mobile.png");
        }
    }

    &.orientamento {
        height: 50vh;
        background-image: url("/assets/projects/orientamento/banner_sito.png");

        @include media-breakpoint-down(sm) {
            height: 48vh;
            background-image: url("/assets/projects/orientamento/banner_sito.png");
        }
    }
}

.ptb-50 {
    padding: 50px 50px;
}

.section_bg_gray {
    background-color: #f3f5f7;
}

.single_what_we_do {
    cursor: pointer;
    background-color: #ffffff;
    text-align: center;
    padding: 0 35px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.single_what_we_do:hover {
    -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.single_what_we_do .top_line {
    position: absolute;
    top: 0;
    left: 44%;
    background-color: $clash-dark-grey;
    width: 12%;
    height: 3px;
}

.single_what_we_do .what_we_do_figure {
    color: $clash-blue;
    padding: 40px 0;
    padding-bottom: 10px;
}

.single_what_we_do .what_we_do_figure img {
    margin: 0 auto;
}

.single_what_we_do .what_we_do_title {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 35px;
    margin: 0;
    color: #2b353a;
}

.single_what_we_do .what_we_do_content {
    padding-bottom: 65px;
    font-size: 20px;
    min-height: 300px;
    text-align: left;
    color: #2b353a;
}

.single_what_we_do .what_we_do_content p i {
    padding-right: 18px;
}

.single_what_we_do .what_we_do_icon {
    position: absolute;
    bottom: -9px;
    left: 47%;
    color: #fff;
    background-color: $clash-dark-grey;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.single_what_we_do .what_we_do_icon i {
    font-size: 24px;
    text-align: center;
    padding: 2px 3px 2px 5px;
}

#container-pacchetti {
    padding-bottom: 40px;
}

.caption {
    color: $clash-txt-color-title;
    font-size: 3em;
    font-weight: 700;
    font: $clash-font-text;
}

article {
    max-width: 880px !important;
    font-size: 1.1em;

    p {
        margin: 2rem 0;
    }

    img {
        max-width: 100% !important;
        height: auto !important;
    }

    .timeline-title {
        text-align: initial;
    }
}