<!-- CARD BICOCCA -->
<div class="flip-card flex-grow-1">
    <input type="checkbox" id="details-bicocca" class="more" aria-hidden="true">
    <div class="content">
        <div class="front" style="background-image: url('/assets/projects/orientamento/bicocca/bicocca.jpg')">
            <div class="inner d-flex flex-column justify-content-around align-content-center">
                <div class="card-logos d-flex justify-content-start">
                    <img src="/assets/projects/orientamento/bicocca/bicocca-indipendenti.png" alt="">
                </div>
                <div class="card-title">
                    <h2>Universitá Milano Bicocca</h2>
                </div>
                <div>
                    <label for="details-bicocca" class="button" aria-hidden="true">
                        Dettagli
                    </label>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="inner d-flex flex-column justify-content-between align-content-center">
                <div class="head d-flex justify-content-between align-content-start">
                    <div class="location align-self-start">P.za Leonardo da Vinci, Milano</div>
                    <!-- <div class="price align-self-end">2K€ / year</div> -->
                </div>
                <div class="stats d-flex justify-content-between align-content-center">
                    <div class="info">
                        <span>40K+</span>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                            <span>studenti</span>
                        </div>
                    </div>
                    <div class="info">
                        <span>24</span>
                        <div class="icon">
                            <i class="fas  fa-graduation-cap"></i>
                            <span>corsi di L.T.</span>
                        </div>
                    </div>
                    <div class="info d-none d-md-flex">
                        <span>5</span>
                        <div class="icon">
                            <i class="fas fa-map-marked-alt"></i>
                            <span>campus</span>
                        </div>
                    </div>
                </div>

                <div class="description">
                    <p>La bicocca é la bicocca <strong>Medicina</strong>, <strong>Cose</strong>, e
                        <strong>Altre Cose</strong>.</p>
                    <p>
                    <ul>
                        <li><a href="https://www.unimib.it/">Sito web - Universitá Milano Bicocca</a></li>

                    </ul>
                    </p>
                </div>

                <div class="d-flex justify-content-around">
                    <label for="details-bicocca" class="button return flex-grow-0 mx-2" aria-hidden="true">
                        <i class="fas fa-arrow-left"></i>
                    </label>

                    <label id="fire-modal-bicocca" class="button fire-modal flex-grow-1 mx-2" aria-hidden="true"
                        data-toggle="modal" data-target="#modal-bicocca">
                        Approfondisci
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CARD BICOCCA -->

<!-- Modal BICOCCA -->
<div class="modal fade" id="modal-bicocca" tabindex="-1" role="dialog" aria-labelledby="modal-bicocca-title"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-bicocca-title">Universitá Bicocca</h3>
                <button type="button" class="btn fa-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>L’università Bicocca offre percorsi di studio in diverse aree. Corsi di area scientifica
                    (Matematica, Fisica, Informatica, Bioscienze ecc) che hanno il loro cuore nel cosiddetto
                    quadrilatero di Piazza della Scienza, la piazza dove hanno sede i principali dipartimenti
                    scientifici e dove si tengono la maggior parte delle lezioni di questi corsi. Corsi di area
                    economica, delle scienze umane e di giurisprudenza gravitano invece attorno a Piazza
                    Dell’Ateneo Nuovo. Questi sono i due luoghi cardine del campus universitario di Milano che
                    si sviluppa nel quartiere di Bicocca, da cui l’università prende il nome. Oltre agli edifici
                    con aule, laboratori e segreterie sono infatti presenti residenze universitarie, mense, bar,
                    biblioteche e aule studio. Il campus è facilmente raggiungibile coi mezzi pubblici essendo
                    presenti diverse fermate di tram e autobus nonché le fermate di Bicocca e Ponale della linea
                    lilla. È importantissima anche la stazione di Greco-Pirelli infatti moltissimi studenti
                    raggiungono il campus come pendolari in particolare venendo da nord di Milano. Discorso a
                    parte va fatto per i corsi medico-sanitari che hanno un proprio campus nella città di Monza
                    nei pressi dell’Ospedale San Gerardo raggiungibile coi mezzi dalla stazione ferroviaria di
                    Monza. Al di là dell’utilizzo didattico gli spazi della Bicocca sono sede di momenti e
                    iniziative di crescita culturale, sociale e personale molte volte organizzati dagli studenti
                    stessi rendendo così l’università un luogo di formazione a 360 gradi.</p>
                <h4>Link utili:</h4>
                <ul>
                    <li><a href="https://www.unimib.it/servizi/segreterie-studenti">Segreterie studenti</a></li>
                    <li><a href="https://www.unimib.it/ugov/organizationunit/149576">Segreteria DSU per tutto
                            quello che riguarda le borse di studio</a></li>
                    <li><a href="https://www.facebook.com/Infopointdirittoallostudiomilano/">Infopoint sportello
                            di supporto per borse di studio e studenti stranieri</a></li>
                    <li><a href="https://www.facebook.com/Infopointdirittoallostudiomilano/">Segreteria per
                            studenti DSA e diversamente abili</a></li>
                    <li><a href="https://www.unimib.it/node/19356">Iniziative di orientamento online della
                            Bicocca</a></li>
                </ul>
                <h4>Gruppi attivi in Bicocca:</h4>
                <ul>
                    <li><a href="https://www.facebook.com/unixmib/">UnixMib associazione attiva nella promozione
                            e nell’utilizzo di tecnologia open</a></li>
                    <li><a href=">https://www.instagram.com/bicocca_rainbow/">Bicocca Rainbow associazione
                            culturale riguardo tematiche LGBTQIA+</a></li>
                    <li><a href="https://www.instagram.com/asb_bicocca/">Associazione Studenti Bicocca gruppo
                            culturale e di aggregazione</a></li>
                    <li><a href="https://www.facebook.com/BicoccaScacchi/">Club scacchistico di Bicocca</a></li>
                    <li><a href="https://www.facebook.com/cusbicocca/">CUS Bicocca Comitato sportivo di
                            Bicocca</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<!-- END MODAL BICOCCA -->