<!-- CARD POLIMI -->
<div class="flip-card flex-grow-1">
    <input type="checkbox" id="details-polimi" class="more" aria-hidden="true">
    <div class="content">
        <div class="front" style="background-image: url('/assets/projects/orientamento/polimi/polimi.jpg')">
            <div class="inner d-flex flex-column justify-content-around align-content-center">
                <div class="card-logos d-flex justify-content-start">
                    <img src="/assets/projects/orientamento/polimi/polimi-unilab.png" alt="">
                    <img src="/assets/projects/orientamento/unilab.png" alt="">
                </div>
                <div class="card-title">
                    <h2>Politecnico di Milano</h2>
                </div>
                <div>
                    <label for="details-polimi" class="button" aria-hidden="true">
                        Dettagli
                    </label>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="inner d-flex flex-column justify-content-between align-content-center">
                <div class="head d-flex justify-content-between align-content-start">
                    <div class="location align-self-start">P.za Leonardo da Vinci, Milano</div>
                    <!-- <div class="price align-self-end">2K€ / year</div> -->
                </div>
                <div class="stats d-flex justify-content-between align-content-center">
                    <div class="info">
                        <span>46K+</span>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                            <span>studenti</span>
                        </div>
                    </div>
                    <div class="info">
                        <span>26</span>
                        <div class="icon">
                            <i class="fas fa-graduation-cap"></i>
                            <span>corsi L.T.</span>
                        </div>
                    </div>
                    <div class="info d-none d-md-flex">
                        <span>7</span>
                        <div class="icon">
                            <i class="fas fa-map-marked-alt"></i>
                            <span>campus</span>
                        </div>
                    </div>
                </div>

                <div class="description">
                    <p>Chiamato affettuosamente "Poli", il Politecnico di Milano (classe 1863) è indubbiamente tra le
                        università più quotate al mondo.
                        QS World University Ranking pone alcuni dei suoi corsi tra i migliori al mondo: Desing (6°),
                        Architettura (7°), Civil & Structural Engineering (11°), rendendola un gioiello della storia
                        italiana.</p>
                    <p>
                    <ul>
                        <li><a href="https://polimi.it/">Sito web - Politecnico di Milano</a></li>
                    </ul>
                    </p>
                </div>

                <div class="d-flex justify-content-around">
                    <label for="details-polimi" class="button return flex-grow-0 mx-2" aria-hidden="true">
                        <i class="fas fa-arrow-left"></i>
                    </label>
                    <label id="fire-modal-polimi" class="button fire-modal flex-grow-1 mx-2" aria-hidden="true"
                        data-toggle="modal" data-target="#modal-polimi">
                        Approfondisci
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CARD POLIMI -->

<!-- MODAL POLIMI -->
<div class="modal fade" id="modal-polimi" tabindex="-1" role="dialog" aria-labelledby="modal-polimi-title"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-polimi-title">Politecnico di Milano</h3>
                <button type="button" class="btn fa-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Buonasera ragazzi,
                </p>
                <p>
                    nella speranza di potervi essere d'aiuto nella vostra scelta universitaria
                    vi presentiamo qui una raccolta di link utili. Per ogni facolt&#224;
                    troverete:
                </p>
                <p>
                    &#183; Info poliorientami, la presentazione fatta dal Politecnico stesso
                    durante l'ultimo Open Day telematico;
                </p>
                <p>
                    &#183; Manifesto degli studi, dove &#232; possibile trovare tutte le
                    informazioni riguardanti gli esami del corso;
                </p>
                <p>
                    &#183; Regolamento didattico, dove viene riportata la presentazione
                    generale, gli obiettivi formativi e lo schema del Corso di Studi;
                </p>
                <ul>
                    <li>
                        Sito del Corso di Studi ove possibile;
                    </li>
                    <li>
                        Mail di riferimento del Corso di Studi;
                    </li>
                </ul>
                <p>
                    &#183; Video presentazione fatta dal Poli e dagli studenti ove possibile.
                </p>
                <p>
                    Vi lasciamo anche il link generale dell'<strong>Open</strong> <strong>Day</strong> <strong>del
                        Politecnico</strong> di quest'anno:
                </p>
                <p>
                    <a href="https://www.poliorientami.polimi.it/">
                        https://www.poliorientami.polimi.it/
                    </a>
                </p>
                <p>
                    <strong>ING. AEROSPAZIALE </strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-aerospaziale/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-aerospaziale/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/MostraIndirizziPublic.do?evn_default=EVENTO&amp;k_corso_la=350&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=65608eb8f9f19c48f44bae3574cefc94">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/MostraIndirizziPublic.do?evn_default=EVENTO&amp;k_corso_la=350&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=65608eb8f9f19c48f44bae3574cefc94
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico: </strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=350&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=350&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="https://www.aero.polimi.it/it/didattica/laurea-in-ingegneria-aerospaziale/">
                        https://www.aero.polimi.it/it/didattica/laurea-in-ingegneria-aerospaziale/
                    </a>
                </p>
                <p>
                    <strong>Mail:</strong>
                    <strong> </strong>
                </p>
                <p>
                    <a href="mailto:didattica-daer@polimi.it">didattica-daer@polimi.it</a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a
                        href="https://www.youtube.com/watch?v=-GDO6bwKqe4&amp;list=PL_06oobzMEuu3BJ3BmIR8cKhAU3IHNbCx&amp;index=15">
                        https://www.youtube.com/watch?v=-GDO6bwKqe4&amp;list=PL_06oobzMEuu3BJ3BmIR8cKhAU3IHNbCx&amp;index=15
                    </a>
                </p>
                <p>
                    <strong>ING. AUTOMAZIONE </strong>
                </p>
                <p>
                    <strong>Info poliorientami</strong>
                    :
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-dellautomazione/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-dellautomazione/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi</strong>
                    :
                </p>
                <p>
                    <br />
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?&amp;aa=2019&amp;k_cf=225&amp;k_corso_la=355&amp;ac_ins=0&amp;k_indir=A1A&amp;lang=IT&amp;tipoCorso=ALL_TIPO_CORSO&amp;caricaOffertaInvisibile=false&amp;semestre=ALL_SEMESTRI&amp;sede=ALL_SEDI">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?&amp;aa=2019&amp;k_cf=225&amp;k_corso_la=355&amp;ac_ins=0&amp;k_indir=A1A&amp;lang=IT&amp;tipoCorso=ALL_TIPO_CORSO&amp;caricaOffertaInvisibile=false&amp;semestre=ALL_SEMESTRI&amp;sede=ALL_SEDI
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=355&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=355&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="http://ccs-automazione.ws.dei.polimi.it/">
                        http://ccs-automazione.ws.dei.polimi.it
                    </a>
                </p>
                <p>
                    <strong>Mail rappresentanti:</strong>
                </p>
                <p>
                    <a href="mailto:rappresentantistudenti-ccsautomazione@polimi.it">
                        rappresentantistudenti-ccsautomazione@polimi.it
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=7irw5e_vwxM">
                        https://www.youtube.com/watch?v=7irw5e_vwxM
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=cl417vg_bfI">
                        https://www.youtube.com/watch?v=cl417vg_bfI
                    </a>
                </p>
                <p>
                    <strong>ING. BIOMEDICA </strong>
                </p>
                <p>
                    <strong>Info poliorientami: </strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-biomedica/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-biomedica/
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/MostraIndirizziPublic.do?evn_default=EVENTO&amp;k_corso_la=363&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=21bcfd97750fe3b45bbfdba8c5120cb0">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/MostraIndirizziPublic.do?evn_default=EVENTO&amp;k_corso_la=363&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=21bcfd97750fe3b45bbfdba8c5120cb0
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2020&amp;k_corso_la=363&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2020&amp;k_corso_la=363&amp;lang=IT
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="https://www.ccsbio.polimi.it/">https://www.ccsbio.polimi.it/</a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Mail rappresentanti:</strong>
                </p>
                <p>
                    <a href="mailto:rappresentantistudenti-ccsbiomedica@polimi.it">
                        rappresentantistudenti-ccsbiomedica@polimi.it
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a
                        href="https://www.youtube.com/watch?v=2ntI9Ujt8AA&amp;feature=youtu.be&amp;list=PL_06oobzMEuvlXKrNsFh2xeEItox2eCK-">
                        https://www.youtube.com/watch?v=2ntI9Ujt8AA&amp;feature=youtu.be&amp;list=PL_06oobzMEuvlXKrNsFh2xeEItox2eCK-
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a
                        href="https://www.youtube.com/watch?v=gmlFykl5Sd4&amp;feature=youtu.be&amp;list=PL_06oobzMEuu3BJ3BmIR8cKhAU3IHNbCx">
                        https://www.youtube.com/watch?v=gmlFykl5Sd4&amp;feature=youtu.be&amp;list=PL_06oobzMEuu3BJ3BmIR8cKhAU3IHNbCx
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>ING. CHIMICA</strong>
                </p>
                <p>
                    <strong>Info poliorientami: </strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-chimica/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-chimica/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?&amp;aa=2019&amp;k_cf=225&amp;k_corso_la=347&amp;ac_ins=0&amp;k_indir=N1L&amp;lang=IT&amp;tipoCorso=ALL_TIPO_CORSO&amp;caricaOffertaInvisibile=false&amp;semestre=ALL_SEMESTRI&amp;sede=ALL_SEDI">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?&amp;aa=2019&amp;k_cf=225&amp;k_corso_la=347&amp;ac_ins=0&amp;k_indir=N1L&amp;lang=IT&amp;tipoCorso=ALL_TIPO_CORSO&amp;caricaOffertaInvisibile=false&amp;semestre=ALL_SEMESTRI&amp;sede=ALL_SEDI
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=347&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=347&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="http://www.ccs-chimica.polimi.it/">
                        http://www.ccs-chimica.polimi.it/
                    </a>
                </p>
                <p>
                    <strong>Mail rappresentanti:</strong>
                </p>
                <p>
                    <a href="mailto:rappresentantistudenti-ccschimica@polimi.it">
                        rappresentantistudenti-ccschimica@polimi.it
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=zLTyJFC7opo">
                        https://www.youtube.com/watch?v=zLTyJFC7opo
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=y9Ta2B1tm-Y">
                        https://www.youtube.com/watch?v=y9Ta2B1tm-Y
                    </a>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>ING. ELETTRICA</strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-elettrica/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-elettrica/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=349&amp;k_indir=R1O&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=4657575fb5da992c066221131e19f028">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=349&amp;k_indir=R1O&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=4657575fb5da992c066221131e19f028
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=349&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=349&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Mail rappresentanti:</strong>
                </p>
                <p>
                    <a href="mailto:rappresentantistudenti-ccselettrica@polimi.it">
                        rappresentantistudenti-ccselettrica@polimi.it
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=KiqPC-tGSRI">
                        https://www.youtube.com/watch?v=KiqPC-tGSRI
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=JidKw630yRk">
                        https://www.youtube.com/watch?v=JidKw630yRk
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>ING. ELETTRONICA </strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-elettronica/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-elettronica/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=357&amp;k_indir=E1A&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=199fdcce1bd8ebd1daf069d8c05a1949">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=357&amp;k_indir=E1A&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=199fdcce1bd8ebd1daf069d8c05a1949
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=357&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=357&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="https://www.elettronica.polimi.it/">
                        https://www.elettronica.polimi.it
                    </a>
                </p>
                <p>
                    <strong>Mail rappresentanti:</strong>
                </p>
                <p>
                    <a href="mailto:rappresentantistudenti-ccselettronica@polimi.it">
                        rappresentantistudenti-ccselettronica@polimi.it
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=PL9Dh6jmFO4">
                        https://www.youtube.com/watch?v=PL9Dh6jmFO4
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=OvdRcPqkciM">
                        https://www.youtube.com/watch?v=OvdRcPqkciM
                    </a>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>ING. ENERGETICA </strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-energetica/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-energetica/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=352&amp;k_indir=ENN&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=24e076c339df09950d3880a2edad5dd5">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=352&amp;k_indir=ENN&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=24e076c339df09950d3880a2edad5dd5
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=352&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=352&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="http://www.ccs-energetica.polimi.it/">
                        http://www.ccs-energetica.polimi.it
                    </a>
                </p>
                <p>
                    <strong>Mail rappresentanti:</strong>
                </p>
                <p>
                    <a href="mailto:rappresentantistudenti-ccsenergetica@polimi.it">
                        rappresentantistudenti-ccsenergetica@polimi.it
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=XQTBVwz5-A0">
                        https://www.youtube.com/watch?v=XQTBVwz5-A0
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=Ic0-ox_VUww">
                        https://www.youtube.com/watch?v=Ic0-ox_VUww
                    </a>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>ING. FISICA </strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-fisica/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-fisica/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=366&amp;k_indir=F1A&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=d72e65e462adae8e29b8e2f45ad51185">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=366&amp;k_indir=F1A&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=d72e65e462adae8e29b8e2f45ad51185
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=366&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=366&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Mail rappresentanti:</strong>
                </p>
                <p>
                    <a href="mailto:rappresentantistudenti-ccsfisica@polimi.it">
                        rappresentantistudenti-ccsfisica@polimi.it
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=fCWlBeysi1c">
                        https://www.youtube.com/watch?v=fCWlBeysi1c
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=cRt1-tuvy4A">
                        https://www.youtube.com/watch?v=cRt1-tuvy4A
                    </a>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>ING. GESTIONALE </strong>
                </p>
                <p>
                    <strong> Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/ingegneria/ingegneria-gestionale/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/ingegneria/ingegneria-gestionale/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/MostraIndirizziPublic.do?evn_default=EVENTO&amp;k_corso_la=394&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=331d37964acae4aad3d76c61592eaa13">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/MostraIndirizziPublic.do?evn_default=EVENTO&amp;k_corso_la=394&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=331d37964acae4aad3d76c61592eaa13
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2013&amp;k_corso_la=394&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2013&amp;k_corso_la=394&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Presentazione del corso:</strong>
                </p>
                <p>
                    <a href="https://www.som.polimi.it/benvenuti-a-ingegneria-gestionale/">
                        https://www.som.polimi.it/benvenuti-a-ingegneria-gestionale <strong>/</strong>
                    </a>
                    <strong> </strong>
                </p>
                <p>
                    <strong>Mail:</strong>
                </p>
                <p>
                    <a href="mailto:didattica-ges@polimi.it">didattica-ges@polimi.it</a>
                </p>
                <p>
                    <strong>Mail rappresentanti:</strong>
                </p>
                <p>
                    <a href="mailto:rappresentantistudenti-ccsgestionale@polimi.it">
                        rappresentantistudenti-ccsgestionale@polimi.it
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=DtBIZajni9A">
                        https://www.youtube.com/watch?v=DtBIZajni9A
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=p7zYqx6hBQ4">
                        https://www.youtube.com/watch?v=p7zYqx6hBQ4
                    </a>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>ING. INFORMATICA </strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-informatica/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-informatica/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=358&amp;k_indir=IT1&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=949d6ac3e01e21a28467e16d3e621c2f">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=358&amp;k_indir=IT1&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=949d6ac3e01e21a28467e16d3e621c2f
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=358&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=358&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="https://ccs-informatica.elet.polimi.it/">
                        https://ccs-informatica.elet.polimi.it/
                    </a>
                </p>
                <p>
                    <strong>Mail rappresentanti:</strong>
                </p>
                <p>
                    <a href="mailto:rappresentantistudenti-ccsinformatica@polimi.it">
                        rappresentantistudenti-ccsinformatica@polimi.it
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=Sa8OSaStCwk">
                        https://www.youtube.com/watch?v=Sa8OSaStCwk
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=d2UbEKEOQ_s">
                        https://www.youtube.com/watch?v=d2UbEKEOQ_s
                    </a>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>ING. MATEMATICA </strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-matematica/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-matematica/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=365&amp;k_indir=MND&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=ab0df03d1ff7a8ea1eef14fa334cd219">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=365&amp;k_indir=MND&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=ab0df03d1ff7a8ea1eef14fa334cd219
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=365&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=365&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="https://www.mate.polimi.it/im/">https://www.mate.polimi.it/im/</a>
                </p>
                <p>
                    <strong>Mail rappresentanti:</strong>
                </p>
                <p>
                    <a href="mailto:rappresentantistudenti-ccsmatematica@polimi.it">
                        rappresentantistudenti-ccsmatematica@polimi.it
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=0EbfLHnQmb4">
                        https://www.youtube.com/watch?v=0EbfLHnQmb4
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=KM4JWwvgXxU">
                        https://www.youtube.com/watch?v=KM4JWwvgXxU
                    </a>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>ING. DEI MATERIALI E DELLE NANOTECNOLOGIE</strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-dei-materiali-e-delle-nanotecnologie/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-dei-materiali-e-delle-nanotecnologie/
                    </a>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?&amp;aa=2019&amp;k_cf=225&amp;k_corso_la=348&amp;ac_ins=0&amp;k_indir=U1L&amp;lang=IT&amp;tipoCorso=ALL_TIPO_CORSO&amp;caricaOffertaInvisibile=false&amp;semestre=ALL_SEMESTRI&amp;sede=ALL_SEDI">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?&amp;aa=2019&amp;k_cf=225&amp;k_corso_la=348&amp;ac_ins=0&amp;k_indir=U1L&amp;lang=IT&amp;tipoCorso=ALL_TIPO_CORSO&amp;caricaOffertaInvisibile=false&amp;semestre=ALL_SEMESTRI&amp;sede=ALL_SEDI
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=348&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=348&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="https://www.cmic.polimi.it/">https://www.cmic.polimi.it/</a>
                </p>
                <p>
                    <strong>Mail rappresentanti:</strong>
                </p>
                <p>
                    <a href="mailto:rappresentantistudenti-ccsmateriali@polimi.it">
                        rappresentantistudenti-ccsmateriali@polimi.it
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a
                        href="http://www.ingindinf.polimi.it/fileadmin/files/double_degrees/2019-20/DD_MAT-MECC-english_version_-_2019.pdf">
                        http://www.ingindinf.polimi.it/fileadmin/files/double_degrees/2019-20/DD_MAT-MECC-english_version_-_2019.pdf
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=6bx7ashX_AE">
                        https://www.youtube.com/watch?v=6bx7ashX_AE
                    </a>
                </p>
                <p>
                    <strong>Doppia laurea materiali-meccanica:</strong>
                </p>
                <p>
                    <a
                        href="http://www.ingindinf.polimi.it/fileadmin/files/double_degrees/2019-20/DD_MAT-MECC-english_version_-_2019.pdf">
                        http://www.ingindinf.polimi.it/fileadmin/files/double_degrees/2019-20/DD_MAT-MECC-english_version_-_2019.pdf
                    </a>
                </p>
                <p>
                    <strong>ING. MECCANICA </strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-meccanica/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-meccanica/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=353&amp;k_indir=MEC&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=3cc28a9225c7404938fb9fb82b30255d">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2019&amp;k_corso_la=353&amp;k_indir=MEC&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=3cc28a9225c7404938fb9fb82b30255d
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=353&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=353&amp;lang=IT
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="http://www.ccsmecc.polimi.it/">http://www.ccsmecc.polimi.it/</a>
                </p>
                <p>
                    <strong>Mail rappresentanti:</strong>
                </p>
                <p>
                    <a href="mailto:rappresentantistudenti-ccsmeccanica@polimi.it">
                        rappresentantistudenti-ccsmeccanica@polimi.it
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=Crw9FBZ0FFE">
                        https://www.youtube.com/watch?v=Crw9FBZ0FFE
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=uauqhi6ketY">
                        https://www.youtube.com/watch?v=uauqhi6ketY
                    </a>
                </p>
                <p>
                    <strong>Mail sede Milano:</strong>
                </p>
                <p>
                    <a href="mailto:info@mecc.polimi.it">info@mecc.polimi.it</a>
                </p>
                <p>
                    <strong>Mail sede Piacenza:</strong>
                </p>
                <p>
                    <a href="mailto:orientamento.piacenza@polimi.it">
                        orientamento.piacenza@polimi.it
                    </a>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>ING. CIVILE </strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/ingegneria/ingegneria-civile/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/ingegneria/ingegneria-civile/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=342&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=342&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a
                        href="http://www.ingcat.polimi.it/index.php?id=304&amp;uid=72&amp;k_cf=1&amp;k_corso_la=342&amp;annoAA=2019&amp;L=0">
                        http://www.ingcat.polimi.it/index.php?id=304&amp;uid=72&amp;k_cf=1&amp;k_corso_la=342&amp;annoAA=2019&amp;L=0
                    </a>
                </p>
                <p>
                    <strong>Mail rappresentanti:</strong>
                </p>
                <p>
                    <a href="mailto:rappresentantistudenti-ccscivile@polimi.it">
                        rappresentantistudenti-ccscivile@polimi.it
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=Rm8CIV9dKRU">
                        https://www.youtube.com/watch?v=Rm8CIV9dKRU
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=yqGphpsiZfM">
                        https://www.youtube.com/watch?v=yqGphpsiZfM
                    </a>
                </p>
                <p>
                    <strong>DESIGN DEL PRODOTTO INDUSTRIALE </strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/design-del-prodotto-industriale/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/design-del-prodotto-industriale/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=1090&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=1090&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Sito del corso: </strong>
                </p>
                <p>
                    <a href="http://productdesign.polimi.it/">
                        http://productdesign.polimi.it/
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=e_tSSv_YAok">
                        https://www.youtube.com/watch?v=e_tSSv_YAok
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=8J6KTPN3lOI">
                        https://www.youtube.com/watch?v=8J6KTPN3lOI
                    </a>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>DESIGN DELLA MODA </strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/design-della-moda/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/design-della-moda/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=1089&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=1089&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="http://www.moda.polimi.it/en/fashion-poli/fashion-design">
                        http://www.moda.polimi.it/en/fashion-poli/fashion-design
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=jGUZN-qIp6Q">
                        https://www.youtube.com/watch?v=jGUZN-qIp6Q
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=6eKuUCZi4vc">
                        https://www.youtube.com/watch?v=6eKuUCZi4vc
                    </a>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>DESIGN DELLA COMUNICAZIONE</strong>
                </p>
                <p>
                    <strong> Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/design/design-della-comunicazione/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/design/design-della-comunicazione/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?evn_default=EVENTO&amp;aa=2019&amp;k_cf=19&amp;k_corso_la=1088&amp;ac_ins=0&amp;k_indir=***&amp;lang=IT&amp;tipoCorso=ALL_TIPO_CORSO&amp;caricaOffertaInvisibile=false&amp;semestre=ALL_SEMESTRI&amp;sede=ALL_SEDI&amp;jaf_currentWFID=main">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?evn_default=EVENTO&amp;aa=2019&amp;k_cf=19&amp;k_corso_la=1088&amp;ac_ins=0&amp;k_indir=***&amp;lang=IT&amp;tipoCorso=ALL_TIPO_CORSO&amp;caricaOffertaInvisibile=false&amp;semestre=ALL_SEMESTRI&amp;sede=ALL_SEDI&amp;jaf_currentWFID=main
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=1088&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=1088&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="https://www.designdellacomunicazione.polimi.it/">
                        https://www.designdellacomunicazione.polimi.it/
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://youtu.be/pt-twZ4MaTs">https://youtu.be/pt-twZ4MaTs</a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=AoJHaYfqSMo">
                        https://www.youtube.com/watch?v=AoJHaYfqSMo
                    </a>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>DESIGN DEGLI INTERNI </strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/design-degli-interni/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/design-degli-interni/
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a href="http://www.design.polimi.it/studiare-design/manifesto-degli-studi-e-programmi/">
                        http://www.design.polimi.it/studiare-design/manifesto-degli-studi-e-programmi/
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2020&amp;k_corso_la=1087&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2020&amp;k_corso_la=1087&amp;lang=IT
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="https://www.interiordesign.polimi.it/laurea-di-primo-livello/">
                        https://www.interiordesign.polimi.it/laurea-di-primo-livello/
                    </a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://youtu.be/1gWv0ZUZoYw">https://youtu.be/1gWv0ZUZoYw</a>
                    <strong></strong>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://youtu.be/5CyIvL-Be78">https://youtu.be/5CyIvL-Be78</a>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Architettura</strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Info poliorientami:</strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/architettura/progettazione-dellarchitettura/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/architettura/progettazione-dellarchitettura/
                    </a>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <a href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do
                    </a>
                </p>
                <p>
                    <strong>Regolamento didattico:</strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2020&amp;k_corso_la=1094&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2020&amp;k_corso_la=1094&amp;lang=IT
                    </a>
                </p>
                <p>
                    <strong>Sito del corso:</strong>
                </p>
                <p>
                    <a href="http://www.progettazionedellarchitettura.polimi.it/">
                        http://www.progettazionedellarchitettura.polimi.it/
                    </a>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=8SLYlMJ7Y4M">
                        https://www.youtube.com/watch?v=8SLYlMJ7Y4M
                    </a>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a
                        href="https://www.youtube.com/watch?v=QAqulsiUg_c&amp;feature=youtu.be&amp;list=PL_06oobzMEuvN1YKXwq4pxGogV0eUsbTd">
                        https://www.youtube.com/watch?v=QAqulsiUg_c&amp;feature=youtu.be&amp;list=PL_06oobzMEuvN1YKXwq4pxGogV0eUsbTd
                    </a>
                </p>
                <p>
                    <strong>Ing. Edile e delle costruzioni </strong>
                </p>
                <p>
                    <strong>Poliorientami: </strong>
                </p>
                <p>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-edile-e-delle-costruzioni/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/elenco-completo/ingegneria-edile-e-delle-costruzioni/
                    </a>
                    <strong> </strong>
                </p>
                <p>
                    <strong>Manifesto degli studi:</strong>
                </p>
                <p>
                    <strong> </strong>
                    <a href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do
                    </a>
                    <strong> </strong>
                </p>
                <p>
                    <strong>Regolamento didattico: </strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=497&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2019&amp;k_corso_la=497&amp;lang=IT
                    </a>
                    <strong> </strong>
                </p>
                <p>
                    <strong>Video presentazione:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=5148jgLLY9Y">
                        https://www.youtube.com/watch?v=5148jgLLY9Y
                    </a>
                    <strong> </strong>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=GbfbFLVpHoY">
                        https://www.youtube.com/watch?v=GbfbFLVpHoY
                    </a>
                    <strong> </strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Urbanistica</strong>
                </p>
                <p>
                    <strong>Poliorientami:</strong>
                </p>
                <p>
                    <strong> </strong>
                    <a
                        href="https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/architettura/urbanistica-citta-ambiente-paesaggio/">
                        https://www.poliorientami.polimi.it/cosa-si-studia/corsi-di-laurea/architettura/urbanistica-citta-ambiente-paesaggio/
                    </a>
                    <strong> </strong>
                </p>
                <p>
                    <strong>Sito della scuola:</strong>
                </p>
                <p>
                    <strong> </strong>
                    <a href="http://www.urbanistica.polimi.it/">
                        http://www.urbanistica.polimi.it/
                    </a>
                    <strong> </strong>
                </p>
                <p>
                    <strong>Struttura del corso: </strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2017&amp;k_corso_la=1093&amp;lang=IT&amp;tipoCorso=ALL_TIPO_CORSO&amp;ac_ins=0&amp;sede=ALL_SEDI&amp;k_indir=***&amp;k_cf=222&amp;semestre=ALL_SEMESTRI&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=5d24dab067664c962d4148e57c20d50d">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do?check_params=1&amp;aa=2017&amp;k_corso_la=1093&amp;lang=IT&amp;tipoCorso=ALL_TIPO_CORSO&amp;ac_ins=0&amp;sede=ALL_SEDI&amp;k_indir=***&amp;k_cf=222&amp;semestre=ALL_SEMESTRI&amp;polij_device_category=DESKTOP&amp;__pj0=0&amp;__pj1=5d24dab067664c962d4148e57c20d50d
                    </a>
                    <strong> </strong>
                </p>
                <p>
                    <strong>Video presentazione: </strong>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=Ls1xBfaVr98">
                        https://www.youtube.com/watch?v=Ls1xBfaVr98
                    </a>
                    <strong> </strong>
                </p>
                <p>
                    <strong>Video presentazione studenti:</strong>
                </p>
                <p>
                    <strong> </strong>
                    <a
                        href="https://www.youtube.com/watch?v=_N_-fFYEjWc&amp;list=PL_06oobzMEuvN1YKXwq4pxGogV0eUsbTd&amp;index=2">
                        https://www.youtube.com/watch?v=_N_-fFYEjWc&amp;list=PL_06oobzMEuvN1YKXwq4pxGogV0eUsbTd&amp;index=2
                    </a>
                    <strong> </strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Manifesto degli studenti:</strong>
                </p>
                <p>
                    <strong> </strong>
                    <a href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/ManifestoPublic.do
                    </a>
                    <strong> </strong>
                </p>
                <p>
                    <strong>Regolamento didattico: </strong>
                </p>
                <p>
                    <a
                        href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2020&amp;k_corso_la=1093&amp;lang=IT">
                        https://www4.ceda.polimi.it/manifesti/manifesti/controller/extra/RegolamentoPublic.do?jaf_currentWFID=main&amp;EVN_DEFAULT=evento&amp;aa=2020&amp;k_corso_la=1093&amp;lang=IT
                    </a>
                    <strong> </strong>
                </p>
                <p>
                    <strong></strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<!-- END MODAL POLI -->