<!-- CARD TORVERGATA -->
<div class="flip-card flex-grow-1">
    <input type="checkbox" id="details-torvergata" class="more" aria-hidden="true">
    <div class="content">
        <div class="front" style="background-image: url('/assets/projects/orientamento/torvergata/torvergata.jpg')">
            <div class="inner d-flex flex-column justify-content-around align-content-center">
                <div class="card-logos d-flex justify-content-start">
                    <img src="/assets/projects/orientamento/torvergata/uninformazione.png" alt="">
                    <img src="/assets/projects/orientamento/unilab.png" alt="">
                </div>
                <div class="card-title">
                    <h2>Universitá degli studi di Roma "Tor Vergata"</h2>
                </div>
                <div>
                    <label for="details-torvergata" class="button" aria-hidden="true">
                        Dettagli
                    </label>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="inner d-flex flex-column justify-content-between align-content-center">
                <div class="head d-flex justify-content-between align-content-start">
                    <div class="location align-self-start">Via Cracovia, Roma</div>
                    <!-- <div class="price align-self-end">2K€ / year</div> -->
                </div>
                <div class="stats d-flex justify-content-between align-content-center">
                    <div class="info">
                        <span>31K+</span>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                            <span>studenti</span>
                        </div>
                    </div>
                    <div class="info">
                        <span>54</span>
                        <div class="icon">
                            <i class="fas fa-graduation-cap"></i>
                            <span>corsi di L.T.</span>
                        </div>
                    </div>
                    <div class="info d-none d-md-flex">
                        <span>1</span>
                        <div class="icon">
                            <i class="fas fa-map-marked-alt"></i>
                            <span>campus</span>
                        </div>
                    </div>
                </div>

                <div class="description">
                    <p>Tor Vergata è un'università moderna e ricca di spunti alternativi alla sola esperienza formativa.
                    </p>
                    <p>
                    <ul>
                        <li><a class="c-link" href="https://slack-redir.net/link?url=https%3A%2F%2Fweb.uniroma2.it%2F" target="_blank"
                            rel="noopener noreferrer" data-sk="tooltip_parent">Universit&agrave; degli studi di Roma "Tor Vergata":&nbsp;</a>
                        </li>
                    </ul>
                    </p>
                </div>

                <div class="d-flex justify-content-around">
                    <label for="details-torvergata" class="button return flex-grow-0 mx-2" aria-hidden="true">
                        <i class="fas fa-arrow-left"></i>
                    </label>
                    <label id="fire-modal-torvergata" class="button fire-modal flex-grow-1 mx-2" aria-hidden="true"
                        data-toggle="modal" data-target="#modal-torvergata">
                        Approfondisci
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CARD TORVERGATA -->

<!-- MODAL TORVERGATA -->
<div class="modal fade" id="modal-torvergata" tabindex="-1" role="dialog" aria-labelledby="modal-torvergata-title"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-torvergata-title">Universitá degli studi di Roma "Tor Vergata"</h3>
                <button type="button" class="btn fa-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Scegliere il proprio percorso universitario &egrave; una delle prime grandi scelte che dovrete fare
                    in autonomia. Si tratta infatti di capire le vostre inclinazioni, assecondando al contempo le vostre
                    passioni e non &egrave; affatto scontato. Per fare una scelta consapevole c'&egrave; quindi bisogno
                    che impariate a conoscer bene voi stessi e le universit&agrave; per voi in target.</p>
                <p>Tor Vergata &egrave; uno dei grandi Atenei statali, e accoglie circa 30000 studenti nelle sue
                    Macroaree di Medicina, Economia, Lettere e Filosofia, Ingegneria, Giurisprudenza e Scienze presenti
                    in altrettante Facolt&agrave;. Oltre le strutture didattiche principali, fanno riferimento
                    all'universit&agrave; degli importanti poli di ricerca scientifica come il CNR e l'Agenzia Spaziale
                    Italiana. Il campus &egrave; situato nelle vicinanze del Raccordo Anulare di Roma (Uscita 19-20) ed
                    &egrave; facilmente raggiungibile in macchina. Fanno riferimento a Tor Vergata anche diverse
                    residenze universitarie convenzionate con l'universit&agrave; come il Campus X.</p>
                <p>L'ente regionale per il diritto allo studio e alla conoscenza &egrave; l'agenzia a cui rivolgersi per
                    le agevolazioni fiscali e non solo, che la regione mette a disposizione degli studenti.</p>
                <p>Negli ultimi anni, Tor Vergata sta portando avanti una serie di progetti di rinnovo dei suoi spazi,
                    avvicinando alcune delle facolt&agrave; pi&ugrave; distaccate del campus in un progetto di rinnovo
                    delle sue strutture.</p>
                <p>Link utili:</p>
                <ul>
                    <li>Universit&agrave; degli studi di Roma "Tor Vergata":&nbsp; <a class="c-link"
                            href="https://web.uniroma2.it/" target="_blank"
                            rel="noopener noreferrer" data-sk="tooltip_parent">https://web.uniroma2.it/</a></li>
                    <li>Macroaree:&nbsp;    <a class="c-link"
                            href="https://web.uniroma2.it/module/name/Content/newlang/italiano/navpath/DID/section_parent/5306"
                            target="_blank" rel="noopener noreferrer"
                            data-sk="tooltip_parent">https://web.uniroma2.it/module/name/Content/newlang/italiano/navpath/DID/section_parent/5306</a>
                    </li>
                    <li>Lazio Disco <a class="c-link"
                            href="http://www.laziodisco.it/" target="_blank"
                            rel="noopener noreferrer" data-sk="tooltip_parent">http://www.laziodisco.it/</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<!-- END MODAL POLI -->