<!-- CARD TRIESTE -->
<div class="flip-card flex-grow-1">
    <input type="checkbox" id="details-trieste" class="more" aria-hidden="true">
    <div class="content">
        <div class="front" style="background-image: url('/assets/projects/orientamento/trieste/trieste.jpg')">
            <div class="inner d-flex flex-column justify-content-around align-content-center">
                <div class="card-logos d-flex justify-content-start">
                    <img src="/assets/projects/orientamento/trieste/trieste-unilab.png" alt="">
                    <img src="/assets/projects/orientamento/unilab.png" alt="">
                </div>
                <div class="card-title">
                    <h2>Universitá degli Studi di Trieste</h2>
                </div>
                <div>
                    <label for="details-trieste" class="button" aria-hidden="true">
                        Dettagli
                    </label>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="inner d-flex flex-column justify-content-between align-content-center">
                <div class="head d-flex justify-content-between align-content-start">
                    <div class="location align-self-start">Piazzale Europa, Trieste</div>
                    <!-- <div class="price align-self-end">2K€ / year</div> -->
                </div>
                <div class="stats d-flex justify-content-between align-content-center">
                    <div class="info">
                        <span>14K+</span>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                            <span>studenti</span>
                        </div>
                    </div>
                    <div class="info">
                        <span>71</span>
                        <div class="icon">
                            <i class="fas fa-graduation-cap"></i>
                            <span>corsi L.T.</span>
                        </div>
                    </div>
                    <div class="info d-none d-md-flex">
                        <span>4</span>
                        <div class="icon">
                            <i class="fas fa-map-marked-alt"></i>
                            <span>campus</span>
                        </div>
                    </div>
                </div>

                <div class="description">
                    <p>Massima ambizione per chi aspira a frequentare corsi di interpretariato o scienze politiche diplomatiche.</p>
                    <p>
                    <ul>
                        <li><a href="https://www.units.it/">Sito web - Universitá degli Studi di Trieste</a></li>
                    </ul>
                    </p>
                </div>

                <div class="d-flex justify-content-around">
                    <label for="details-trieste" class="button return flex-grow-0 mx-2" aria-hidden="true">
                        <i class="fas fa-arrow-left"></i>
                    </label>
                    <label id="fire-modal-trieste" class="button fire-modal flex-grow-1 mx-2" aria-hidden="true"
                        data-toggle="modal" data-target="#modal-trieste">
                        Approfondisci
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CARD trieste -->

<!-- MODAL trieste -->
<div class="modal fade" id="modal-trieste" tabindex="-1" role="dialog" aria-labelledby="modal-trieste-title"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-trieste-title">Universitá degli Studi di Trieste</h3>
                <button type="button" class="btn fa-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    La scelta di quale percorso intraprendere dopo le superiori può spaventare,
                    per questo noi membri della comunità studentesca dell’Università degli
                    studi di Trieste vogliamo condividere con voi un po’ di informazioni utili.
                </p>
                <p>
                    Nel 2018 UniTS si è classificata al terzo posto tra gli atenei italiani nel
                    Round University Ranking (RUR).
                </p>
                <p>
                    Grazie al fatto che la nostra non è un’università grande e dispersiva,
                    questo ci permette di conoscere meglio i docenti e compagni di corso e non.
                    Nonostante le sue dimensioni, l’università di Trieste offre molti corsi di
                    studio e ha al suo interno diverse associazioni e gruppi che organizzano
                    viaggi ed eventi con esperti ed Alumni.
                </p>
                <p>
                    L’ Agenzia regionale per il diritto agli studi superiori è l’ente a cui
                    rivolgersi per borse di studio, contributi e diversi servizi (alloggi,
                    servizio mensa, agevolazioni per i trasporti, agevolazioni per il ristoro).
                </p>
                <p>
                    Trieste ospita gran parte dei corsi ed è dove molti studenti decidono di
                    abitare. E’ una città in cui si vive bene e molti vi rimangono anche dopo
                    il la conclusione della carriera universitaria. Una parte considerevole
                    degli studenti proviene da fuori regione. Capoluogo di medie dimensioni con
                    uno standard di vita abbastanza elevato è ricca di attività culturali,
                    sportive e ludiche e vanta la presenza di imprese ed enti di grande rilievo
                    a livello nazionale ed internazionale.
                </p>
                <p>
                    Gorizia è una piccola città al confine con la Slovenia, per la sua storia e
                    posizione luogo interessante dove studiare e vivere. Il tenore di vita è
                    superiore alla media anche qui. Vi si trovano i corsi di Architettura e di
                    Scienze Internazionali e Diplomatiche che si svolgono nel palazzo dell’ex
                    Seminario Minore già ristrutturato e ampliato.
                </p>
                <p>
                    L’altra sede è quella di Portogruaro dove si può frequentare il corso di
                    Scienze dell’Educazione. Lì il polo è caratterizzato da una tripartizione
                    tra UniTs, UniUD e UniPD e ha sede presso il prestigioso complesso
                    monumentale del "Collegio Marconi” nel centro storico.
                </p>
                <p>
                    Link utili:
                </p>
                <h3>
                    Università degli studi di Trieste:
                </h3>
                <p>
                    <ul>
                        <li><a href="https://www.units.it/">https://www.units.it</a></li>
                        <li><a href="https://www.units.it/porteapertevirtuali">https://www.units.it/porteapertevirtuali</a></li>
                        <li><a href="https://www.units.it/offertaformativa">https://www.units.it/offertaformativa</a></li>
                        <li><a href="https://www.units.it/ateneo/associazioni-e-gruppi-studenteschi">https://www.units.it/ateneo/associazioni-e-gruppi-studenteschi</a></li>
                    </ul>
                </p>
                <h3>
                    Agenzia regionale per il diritto agli studi superiori:
                </h3>
                <p>
                    <ul>
                        <li><a href="http://www.ardiss.fvg.it/index.php">http://www.ardiss.fvg.it/index.php</a></li>
                    </ul>
                </p>
                <h3>
                    Studenti in Movimento:
                </h3>
                <p>
                    <ul>
                        <li><a href="https://www.facebook.com/studentiinmovimento/">FB-&gt; https://www.facebook.com/studentiinmovimento/</a></li>
                        <li><a href="https://www.instagram.com/sim_units/">Insta-&gt; https://www.instagram.com/sim_units/</a></li>
                    </ul>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<!-- END MODAL POLI -->