<!-- CARD UNIMI -->
<div class="flip-card flex-grow-1">
    <input type="checkbox" id="details-unimi" class="more" aria-hidden="true">
    <div class="content">
        <div class="front" style="background-image: url('/assets/projects/orientamento/unimi/unimi_mid.jpg')">
            <div class="inner d-flex flex-column justify-content-around align-content-center">
                <div class="card-logos d-flex justify-content-start">
                    <img src="/assets/projects/orientamento/unimi/unimi-unilab.png" alt="">
                    <img src="/assets/projects/orientamento/unilab.png" alt="">
                </div>
                <div class="card-title">
                    <h2>Universitá degli Studi di Milano</h2>
                </div>
                <div>
                    <label for="details-unimi" class="button" aria-hidden="true">
                        Dettagli
                    </label>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="inner d-flex flex-column justify-content-between align-content-center">
                <div class="head d-flex justify-content-between align-content-start">
                    <div class="location align-self-start">Via Festa del Perdono, Milano</div>
                    <!-- <div class="price align-self-end">2K€ / year</div> -->
                </div>
                <div class="stats d-flex justify-content-between align-content-center">
                    <div class="info">
                        <span>60K+</span>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                            <span>studenti</span>
                        </div>
                    </div>
                    <div class="info">
                        <span>76</span>
                        <div class="icon">
                            <i class="fas  fa-graduation-cap"></i>
                            <span>corsi di L.T.</span>
                        </div>
                    </div>
                    <div class="info d-none d-md-flex">
                        <span>13</span>
                        <div class="icon">
                            <i class="fas fa-map-marked-alt"></i>
                            <span>campus</span>
                        </div>
                    </div>
                </div>

                <div class="description">
                    <p>Con i suoi 60 mila studenti è la più grande istituzione universitaria milanese e della Lombardia,
                        tanto che nella sola città di Milano ha ben 10 sedi dove ospita 76 diversi corsi di studio,
                        coprendo così tutti i possibili campi del sapere.</p>
                    <ul>
                        <li><a href="https://www.unimib.it/">Sito web - Universitá Milano Statale</a></li>
                        <li><a href="/assets/projects/orientamento/unimi/salvamatricole-unimi.pdf">Salvamatricole, la bussola per non perdersi nella giungla di UNIMI!<span class="px-2 icon"><i class="fas fa-file-pdf"></i></span></a></li>
                    </ul>
                </div>

                <div class="d-flex justify-content-around">
                    <label for="details-unimi" class="button return flex-grow-0 mx-2" aria-hidden="true">
                        <i class="fas fa-arrow-left"></i>
                    </label>

                    <label id="fire-modal-unimi" class="button fire-modal flex-grow-1 mx-2" aria-hidden="true"
                        data-toggle="modal" data-target="#modal-unimi">
                        Approfondisci
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CARD UNIMI -->

<!-- Modal UNIMI -->
<div class="modal fade" id="modal-unimi" tabindex="-1" role="dialog" aria-labelledby="modal-unimi-title"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-unimi-title">Universitá degli Studi di Milano</h3>
                <button type="button" class="btn fa-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    L’Università degli Studi di Milano, anche denominata ‘La Statale’, è la più
                    grande università pubblica della Lombardia e la terza in Italia per numero
                    di studenti.
                    <br />
                    È l'unico ateneo italiano a far parte della LERU (League of European
                    Research Universities) e ospita spesso numerosi convegni nazionali ed
                    internazionali, rientra persino nel circuito del Fuorisalone: infatti
                    durante il periodo del Salone del Mobile, ad Aprile, la sede principale di
                    Via Festa del Perdono si trasforma in una grande esposizione artistica.
                </p>
                <p>
                    Offre veramente tanti corsi: ben 76 tra triennali e corsi a ciclo unico e
                    60 magistrali. Ci sono anche moltissimi corsi interdisciplinari per
                    riuscire a comprendere la complessità del mondo odierno.
                </p>
                <p>
                    Ha 10 facoltà, che sono:
                <ul>
                    <li> Giurisprudenza (
                        <a href="https://www.unimi.it/it/corsi/facolta-e-scuole/giurisprudenza" target="_blank"
                            rel="noreferrer nofollow">
                            https://www.unimi.it/it/corsi/facolta-e-scuole/giurisprudenza
                        </a>
                        )
                    </li>

                    <li>
                        Medicina e Chirurgia (
                        <a href="https://www.unimi.it/it/corsi/facolta-e-scuole/medicina-e-chirurgia" target="_blank"
                            rel="noreferrer nofollow">
                            https://www.unimi.it/it/corsi/facolta-e-scuole/medicina-e-chirurgia
                        </a>
                        )
                    </li>
                    <li>
                        Medicina Veterinaria (
                        <a href="https://www.unimi.it/it/corsi/facolta-e-scuole/medicina-veterinaria" target="_blank"
                            rel="noreferrer nofollow">
                            https://www.unimi.it/it/corsi/facolta-e-scuole/medicina-veterinaria
                        </a>
                        )
                    </li>
                    <li>
                        Scienze Agrarie e Alimentari (
                        <a href="https://www.unimi.it/it/corsi/facolta-e-scuole/scienze-agrarie-e-alimentari"
                            target="_blank" rel="noreferrer nofollow">
                            https://www.unimi.it/it/corsi/facolta-e-scuole/scienze-agrarie-e-alimentari
                        </a>
                        )
                    </li>
                    <li>
                        Scienze del Farmaco (
                        <a href="https://www.unimi.it/it/corsi/facolta-e-scuole/scienze-del-farmaco" target="_blank"
                            rel="noreferrer nofollow">
                            https://www.unimi.it/it/corsi/facolta-e-scuole/scienze-del-farmaco
                        </a>
                        )
                    </li>
                    <li>
                        Scienze della Mediazione Linguistica e Culturale (
                        <a href="https://www.unimi.it/it/corsi/facolta-e-scuole/scienze-della-mediazione-linguistica-e-culturale"
                            target="_blank" rel="noreferrer nofollow">
                            https://www.unimi.it/it/corsi/facolta-e-scuole/scienze-della-mediazione-linguistica-e-culturale
                        </a>
                        )
                    </li>
                    <li>
                        Scienze Motorie (
                        <a href="https://www.unimi.it/it/corsi/facolta-e-scuole/scienze-motorie" target="_blank"
                            rel="noreferrer nofollow">
                            https://www.unimi.it/it/corsi/facolta-e-scuole/scienze-motorie
                        </a>
                        )
                    </li>
                    <li>
                        Scienze Politiche Economiche e Sociali (
                        <a href="https://www.unimi.it/it/corsi/facolta-e-scuole/scienze-politiche-economiche-e-sociali"
                            target="_blank" rel="noreferrer nofollow">
                            https://www.unimi.it/it/corsi/facolta-e-scuole/scienze-politiche-economiche-e-sociali
                        </a>
                        )
                    </li>
                    <li>
                        Scienze e Tecnologie (
                        <a href="https://www.unimi.it/it/corsi/facolta-e-scuole/scienze-e-tecnologie" target="_blank"
                            rel="noreferrer nofollow">
                            https://www.unimi.it/it/corsi/facolta-e-scuole/scienze-e-tecnologie
                        </a>
                        )
                    </li>
                    <li>
                        Studi Umanistici (
                        <a href="https://www.unimi.it/it/corsi/facolta-e-scuole/studi-umanistici" target="_blank"
                            rel="noreferrer nofollow">
                            https://www.unimi.it/it/corsi/facolta-e-scuole/studi-umanistici
                        </a>
                        )
                    </li>
                </ul>
                </p>
                <p>
                    Come potete vedere vengono coperti tutti gli ambiti di studio, esclusa
                    Ingegneria.
                </p>
                <p>
                    Ha svariate sedi sia all’interno di Milano, ma anche a Sesto San Giovanni,
                    dove si trova la Facoltà di Scienze della Mediazione Linguistica e
                    Culturale, Lodi con la Facoltà di Medicina Veterinaria e persino in
                    montagna, ad Edolo (BS) dove si trova, per l’appunto, l’Università della
                    Montagna (
                    <a href="https://www.unimontagna.it/" target="_blank" rel="noreferrer nofollow">
                        https://www.unimontagna.it/
                    </a>
                    ).
                </p>
                <p>
                    Da questa pagina potete cercare i singoli corsi
                    <a href="https://www.unimi.it/it/corsi/corsi-di-laurea-triennali-e-magistrali-ciclo-unico"
                        target="_blank" rel="noreferrer nofollow">
                        https://www.unimi.it/it/corsi/corsi-di-laurea-triennali-e-magistrali-ciclo-unico
                    </a>
                    , tutti i corsi hanno il loro personale sito con informazioni specifiche.
                </p>
                <p>
                    Alcuni corsi sono ad ingresso libero, mentre nel caso in cui dobbiate
                    sostenere il test di ingresso qui potete trovare tutte le informazioni (
                    <a href="https://www.unimi.it/it/studiare/frequentare-un-corso-di-laurea/iscriversi/iscriversi-una-prima-laurea/test-tolc-cisia"
                        target="_blank" rel="noreferrer nofollow">
                        https://www.unimi.it/it/studiare/frequentare-un-corso-di-laurea/iscriversi/iscriversi-una-prima-laurea/test-tolc-cisia
                    </a>
                    )
                </p>
                <p>
                    Si tratta di una università che sostiene i propri studenti attraverso borse
                    di studio, agevolazioni, tutoraggio, job fair e molto altro. Verso fine
                    giugno ci sarà un Open Day virtuale, a questa pagina troverete tutte le
                    info.
                    <a href="https://www.unimi.it/it/corsi/orientarsi-e-scegliere/eventi-di-orientamento/open-day-di-ateneo"
                        target="_blank" rel="noreferrer nofollow">
                        https://www.unimi.it/it/corsi/orientarsi-e-scegliere/eventi-di-orientamento/open-day-di-ateneo
                    </a>
                </p>
                <p>
                    Su Facebook c'è il gruppo per tutti i futuri studenti UNIMI dove potrete
                    chiedere info e consigli:
                    <a href="https://www.facebook.com/groups/unimimat2018/" target="_blank" rel="noreferrer nofollow">
                        https://www.facebook.com/groups/unimimat2018/
                    </a>
                </p>
                <p>
                    La Statale poi non è solo studio: c’è una forte componente associativa.
                    Tanti gruppi e associazioni che si occupano dei più svariati ambiti e
                    interessi. Qui potete farvi un’idea di tutte quelle che ci sono.
                    <a href="https://www.unimi.it/sites/default/files/2020-02/Attivit%C3%A0%20associazioni%20e%20gruppi%20-%20Febbraio%202020.pdf"
                        target="_blank" rel="noreferrer nofollow">
                        https://www.unimi.it/sites/default/files/2020-02/Attivit%C3%A0%20associazioni%20e%20gruppi%20-%20Febbraio%202020.pdf
                    </a>
                </p>
                <p>
                    L’università Statale vanta tantissime iniziative culturali, un’orchestra
                    professionale, lo sport, i progetti di inclusione, l’impegno in favore di
                    una corretta divulgazione scientifica, della legalità e contro la violenza
                    e la discriminazione, creando una università unica e dove ognugno riesce a
                    trovare una propria dimensione.
                </p>
                <p>
                    L’Ateneo è anche sui social dove pubblica articoli e informazioni utili.
                <ul>
                    <li>

                        <a href="https://www.instagram.com/lastatale_milano_official/" target="_blank"
                            rel="noreferrer nofollow">
                            https://www.instagram.com/lastatale_milano_official/
                        </a>
                    </li>
                    <li>

                        <a href="https://www.facebook.com/LaStatale/" target="_blank" rel="noreferrer nofollow">
                            https://www.facebook.com/LaStatale/
                        </a>
                    </li>
                </ul>
                </p>
                <p>
                    Con queste poche righe speriamo di avervi dato un piccolo aiuto per una
                    scelta importante come quella sul proprio futuro.
                </p>
                <p>
                    Qui i nostri contatti: IG @unilab.unimi FB Unilab Unimi
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<!-- END MODAL UNIMI -->